.tile-wrapper{
  position: relative;
  overflow: hidden;
  .tile-bg{
    width: 100%;
  }
  .tile-logo{
    width: 300px;
  }
  .tile-inside{
    position: absolute;
    top: 20%;
    .tile-caption{
      background: rgba(55,55,55,.8);
      padding: 20px;
      h4{
        color: #ffffff;
        font-size: 40px;
        text-transform: capitalize;
        text-shadow: 3px 3px #4c5454;
      }
      p{
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
  &.no-image{
    height: 667px;
    background: #eee;
  }
}
