<div class="site-map row" layout="row">
  <ul class="" flex="20">
    <li>
      <h4>Proyectos</h4>
    </li>
    <li><a ng-href="#">Olimpiadas Biblicas Nacionales</a></li>
    <li><a ng-href="#">Olimpiadas Biblicas Extremas</a></li>
    <li><a ng-href="#">La Gran Final</a></li>
  </ul>
  <ul class="" flex="20">
    <li>
      <h4>Areas</h4>
    </li>
    <li><a ng-href="#">Olimpiadas Biblicas Nacionales</a></li>
    <li><a ng-href="#">Olimpiadas Biblicas Extremas</a></li>
    <li><a ng-href="#">La Gran Final</a></li>
  </ul>
  <ul class="" flex="20">
    <li>
      <h4>locaciones</h4>
    </li>
    <li><a ng-href="#">Rosario</a></li>
    <li><a ng-href="#">Buenos Aires</a></li>
    <li><a ng-href="#">cordoba</a></li>
    <li><a ng-href="#">La rioja</a></li>
    <li><a ng-href="#">entre rios</a></li>
    <li><a ng-href="#">General Pico</a></li>
  </ul>
  <ul class="social" flex="20">
    <li class="title">
      <h4>Social</h4>
    </li>
    <li><a ng-href="#facebook" class="facebook">facebook</a></li>
    <li><a ng-href="#instagram" class="instagram">instagram</a></li>
    <li><a ng-href="#twitter" class="twitter">twitter</a></li>
    <li><a ng-href="#pinterest" class="pinterest">pinterest</a></li>
    <li><a ng-href="#youtube" class="youtube">youtube</a></li>
    <li><a ng-href="#linkedin" class="linkedin">linkedin</a></li>
    <li><a ng-href="#googlePlus" class="googlePlus">googlePlus</a></li>

  </ul>
</div>
<div class="copyright">
  <p>&copy; Crear Para Alcanzar es una organizacion no gubernamental sin fines de lucro.</p>
</div>
