<div class="site-map row">
  <ul class="col-md-2 col-md-offset-2">
    <li>
      <h4>Proyectos</h4>
    </li>
    <li><a ng-href="cpa.vision.proyects({proy: 'obpre'})">Olimpiadas Biblicas Nacionales</a></li>
    <li><a ng-href="cpa.vision.proyects({proy: 'obExt'})">Olimpiadas Biblicas Extremas</a></li>
    <li><a ng-href="cpa.vision.proyects({proy: 'cpa'})">La Gran Final</a></li>
  </ul>
  <ul class="social col-md-2 col-md-offset-2" ng-if="vm.socialLinks">
    <li class="title">
      <h4>Social</h4>
    </li>
    <li ng-repeat="soc in vm.socialLinks">
      <a ng-href="{{soc.link}}" class="{{soc.class}} {{soc.type}}">{{soc.name}}</a>
    </li>
  </ul>
</div>
<div class="copyright">
  <p>&copy; Crear Para Alcanzar es una organizacion no gubernamental sin fines de lucro.</p>
</div>
