<md-toolbar layout="row" layout-align="center left" class="navbar">


  <section flex layout="row" layout-align="center center">
    <!--<md-button href="#" class="md-raised">Projectos</md-button>
    <md-button href="#" class="md-raised">About</md-button>
    <md-button href="#" class="md-raised">Contact</md-button>-->
    <md-menu >
      <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
        {{vm.navbarContent.obPre.name}}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item class="menu-header">
          <img src="{{vm.navbarContent.obPre.logoImg}}" ng-show="vm.navbarContent.obPre.logoImg" alt="ob">
          <p class="menu-title" ng-class="{md: vm.navbarContent.obPre.logoImg , lg: !vm.navbarContent.obPre.logoImg}">{{vm.navbarContent.obPre.fullName}}</p>
        </md-menu-item>
        <md-menu-item ng-repeat="item in vm.navbarContent.obPre.items">
          <md-button ui-sref="{{item.link}}" ng-click="ctrl.announceClick($index)">{{item.name}}</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-menu >
      <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
        {{vm.navbarContent.obExt.name}}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item class="menu-header">
          <img src="{{vm.navbarContent.obExt.logoImg}}" ng-show="vm.navbarContent.obExt.logoImg" alt="ob">
          <p class="menu-title" ng-class="{md: vm.navbarContent.obExt.logoImg , lg: !vm.navbarContent.obExt.logoImg}">{{vm.navbarContent.obExt.fullName}}</p>
        </md-menu-item>
        <md-menu-item ng-repeat="item in vm.navbarContent.obExt.items">
          <md-button ng-click="ctrl.announceClick($index)">{{item.name}}</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
      {{vm.navbarContent.lgf.name}}
    </md-button>
    <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
      {{vm.navbarContent.cpa.name}}
    </md-button>
    <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
      {{vm.navbarContent.ma.name}}
    </md-button>
    <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
      {{vm.navbarContent.news.name}}
    </md-button>
    <md-button class="md-icon-button md-raised cart" ng-click="$mdOpenMenu($event)">
      <i class="fa fa-shopping-cart"></i>
    </md-button>
  </section>


</md-toolbar>
