md-toolbar.navbar{
  margin-bottom: 0;
  .md-menu{
    margin: 0;
    padding: 0;
  }
  button.md-button.md-raised{
    margin-top: 13px;
    margin-bottom: 13px;
    color: #000000;
  }
  .cart{
    font-size: 25px;
    float: right;
  }
}
md-menu-content{
  .menu-header{
    margin-bottom: 20px;
    img{
      width: 60px;
      height: auto;
      padding: 0;
      margin-left: 20px;
      display: inline-block;
    }
    .menu-title{
      display: inline-block;
      &.md{
        width: 170px;
      }
      &.lg{
        width: 100%;
      }
    }
  }
}
