<div class="navbar-hero row">
  <a ui-sref="cpa" class="col-md-3">
    <div class="logoWrapper">
      <img alt="" ng-src="assets/images/logocpa-small.png" width="100px" />
    </div>
  </a>
  <h1 class="col-md-9">
    <img ng-src="assets/images/textocrearpa.png" alt="" />
  </h1>
</div>
<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<style media="screen">

</style>
