<div class="joining-zone">
  <div class="wrapper">
    <h1>REQUISITOS PARA ABRIR UNA ZONA</h1>
    <h3>Estos Ministerios son Congregaciones o Entidades Religiosas que toman el desafío de llevar adelante el Proyecto OB en su zona.<br />
    Son  los encargados de:</h3>
    <div class="row">
      <ul class="list-group col-md-5">
        <li class="list-group-item"><h4>REQUISITOS PARA ABRIR UNA ZONA</h4></li>
        <li class="list-group-item">Llenar la Planilla de Solicitud. ( link que redireccione a la planilla)</li>
        <li class="list-group-item">Implementar el Know How como se especifica en el kit, una vez aprobada la zona.</li>
        <li class="list-group-item">Debera cumplir con el contrato que se firma al iniciar una zona por 3 años consecutivos de trabajos renovables si asi lo desea.</li>
        <li class="list-group-item">Enviar a OB Nacional Formularios de información de su zona ( adjuntos al Know How).</li>
        <li class="list-group-item">Abrir oportunidades de Capacitación en eventos locales donde integrantes de OB Nacional podrán  visitar con distintos Talleres como: El juego como herramienta de aprendizaje, Refrescar tu Ministerio, Creatividad – Visión – Misión OB, Taller de Fortalezas, Liderazgo, entre otros.</li>
        <li class="list-group-item">Apoyar a OB Nacional para llevar adelante las Olimpiadas Extremas itinerantes ( pre juveniles) en caso de que toque en esa zona ( previa promoción y acuerdo)</li>
        <li class="list-group-item">Participar de las reuniones Nacionales que se llevan adelante para mejorar el desarrollo del trabajo en cada zona y presentar como cuerpo inquietudes, ideas, etc. Esto se realizara una vez al año.</li>
      </ul>
      <div class="col-md-7 well">
        <h4>NORMAS PARA EL DESARROLLO DE  ZONAS SEMI FINALISTAS OB</h4>
        <h5>Cada ZONA SEMIFINALISTA deberá estar habilitada por OLIMPIADAS BIBLICAS NACIONALES cumpliendo las siguientes normas:</h5>
        <ol>
          <li>Trabajara en  total comunicación con Olimpiadas Bíblicas Argentina, rindiendo información específica en su proceso de trabajo llevado adelante en esa zona ( Ej: Lugar donde se desarrolla, Iglesias Participantes, Equipo de Trabajo, etc</li>
          <li>Cada Zona deberá utilizar las reglas y materiales de entrenamiento que distribuye  OLIMPIADAS BIBLICAS NACIONALES. (Editorial Berdor). También podrá adquirir el material de entrenamiento para su venta y distribución: www.juegos-cristianos.com con porcentajes de venta. Estos porcentajes podrán utilizarse para solventar los gastos de su zona.</li>
          <li>Cada zona de semifinal, deberá impulsar y motivar a la participación de LA GRAN FINAL de Olimpiadas Bíblicas Nacionales (Rosario) que se realiza en el mes de Junio en estudio de Televisión (Formato Programa de Entretenimiento). En esta GRAN FINAL  participara el equipo finalista de cada zona a modo representativo.</li>
          <li>En cada  ZONA SEMIFINALISTA de OB, no se deberán tocar temas doctrinales que puedan comprometer a la unidad de las denominaciones participantes. Dentro de estos parámetros se dará la libertad de realizar obras de teatro, cierres, ministraciones según cada zona lo encuentre conveniente.</li>
          <li>SEMIFINAL deberá realizarse en el mes de septiembre <strong>“Mes de la Biblia”</strong> para luego apoyar los próximos meses al equipo finalista que viajara a LA GRAN FINAL.</li>
          <li>Cada  ZONA SEMIFINALISTA podrá tener un Facebook propio para publicitar fotos e información del trabajo que se realiza en el lugar, unificando logos y de esta manera crear la identidad de la Zona( Se facilitara condiciones y formato correspondiente) A su vez, se le otorgara una espacio en la pagina web donde podrá subir fotos, testimonios, etc.</li>
          <li>Cada zona semifinalista deberá entregar un informe completo a OB del trabajo realizado una vez terminado el evento (Formulario de informes semifinales).</li>
          <li>Consideramos que cada ZONA SEMIFINALISTA es la respuesta a esta hermosa visión que nace en el corazón de Dios: que cada niño y adolescente de nuestro país sea cimentado en la Palabra de Dios, una generación que ante cualquier situación que se le presente pueda responder: ESCRITO ESTA:”….entendiendo que estamos formando una generación poderosa que se levanta para alcanzar las promesas de Dios”. (Oseas 4.6)</li>
          <li>ZONA SEMIFINALISTA deberá contar con un grupo de intercesores que junto a OB Nacional, cubrirán en oración a cada zona y proyecto (Pedir calendario de oración).</li>
        </ol>
      </div>
    </div>
  </div>
</div>
