<div class="be-part-wrapper">
  <div class="row heading">
    <img ng-src="/assets/images/logoOB-small.png" alt="" class="col-md-3">
    <h1 class="col-md-8 col-md-offset-1">¿Como Participar de Olimpiadas Biblicas para Preadolescentes?</h1>
  </div>
  <div class="row">
    <div class="col-md-8 well">
      <h3>Requisitos</h3>
      <p>Para participar en OB, solo debes formar un equipo de pre adolescentes de 8 a 12 años de edad con muchas ganas de jugar y participar de este gran desafío.</p>
      <p>Este equipo puede estar conformado 12 jugadores (equipo completo) o por 6 jugadores y OB completara tu equipo con otros 6 jugadores.</p>
      <p>Podrás entrenar a través de un  juego didáctico Memo Biblia ( Pedir material: <a href="mailto:info@juegos-cristianos.com" target="_blank">info@juegos-cristianos.com</a>  )  y podrás implementar un material especial con lecciones, juegos, canciones y devocionales, diseñado para entrenar a tu equipo en solo 2 meses ( Poner el link para descargar material previo pago)</p>
      <p>Es importante que te descargues las reglas para poder prepararte mejor ( link reglas 2016). Y escoge una zona antes de inscribirte según  más te convenga según donde vivas! </p>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Zonas Habilitadas</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Mar del plata</li>
            <li class="list-group-item">Bahia Blanca</li>
            <li class="list-group-item">La Pampa</li>
            <li class="list-group-item">Formosa</li>
            <li class="list-group-item">Rosario</li>
            <li class="list-group-item">Entre Rios</li>
            <li class="list-group-item">Cordoba</li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>
