<div class="be-part-wrapper">
  <div class="row heading">
    <img ng-src="/assets/images/logoObExt-small.jpg" alt="" class="col-md-3">
    <h1 class="col-md-8 col-md-offset-1">¿Como Participar de Olimpiadas Biblicas Extremas?</h1>
  </div>
  <div class="row">
    <div class="col-md-8 well col-md-offset-2">
      <h3>Requisitos</h3>
      <p>Para participar en OB extrema, solo debes formar un equipo de adolescentes de 13 a 17 años de edad con muchas ganas de jugar y participar de este gran desafío extremo.</p>
      <p>Este equipo puede estar conformado 12 jugadores (equipo completo) o por subgrupos  4 jugadores, u 8 jugadores  y OBE se encargara de completar tu equipo.</p>
      <p>Podrás entrenar a través de un  juego didáctico Memo Biblia Epístolas ( Pedir material: <a href="mailto:info@juegos-cristianos.com">info@juegos-cristianos.com</a> )</p>
      <p>También deberas descargar  las reglas donde vas a encontrar la temática correspondiente al año que participes y que tendras preparar junto a tu grupo para este desafío extremo ( link reglas para descargar 2017).</p>
      <p>Te dejamos aca la planilla de inscripcion!  No te demores en guardar tu lugar! ( Link descarga planilla)</p>
      <p>Seguinos por face: <a href="www.facebook.com/olimpiadasbiblicasextremas">Olimpiadas Biblicas Extremas</a></p>
    </div>
  </div>
</div>
