.vision-wrapper{
  width: 1024px;
  margin: 0 auto 60px;
  .title-wrapper{
    margin: 20px 0;
  }
  h1{
    font-weight: bold;
    font-size: 60px;
  }
  .promocional{
    margin-top: 20px
  }
  div.panel{
    padding: 0;
  }
  .thumbnail{
    h3{
      margin-top: 0;

    }
  }
}

[uib-carousel]{
  img{
    width: 100%;
    height: 100%;
  }
}
