<div class="vision-wrapper">

  <div class="row title-wrapper">
    <img src="/assets/images/logoOB-small.png" alt="" class="col-md-4">
    <h1 class="col-md-8">Olimpiadas Biblicas preadolescentes</h1>
  </div>
  <div class="well row">
    <div class="col-md-6">
      <h2>Promocional 2015</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <video-cpa videoId="-e4ZfpbOKBg" class="col-md-6"></video-cpa>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h3>VISION</h3>
      <p>
        OLIMPÍADAS BÍBLICAS nacieron hace seis años en Argentina tras descubrir la necesidad de memorizar y aprender la Palabra de Dios en nuestros pre adolescentes.
        Ha comenzado un trabajo específico en la realización de eventos anuales que reúnen niños y preadolescentes de todo país. Este entrenamiento interdenominacional fomenta el aprendizaje y la memorización de la Palabra de Dios atreves del juego.
      </p>
      <p>
        Los resultados obtenidos todos cada año nos demuestran que las Olimpíadas Bíblicas constituyen  una herramienta inteligente y creativa para que maestros, líderes y padres trabajen de una manera creativa  en la enseñanza de la Biblia.
      </p>
      <p>
        Nuestra meta  es seguir expandiéndonos y levantar una generación que ame y atesore la Palabra de Dios (Oseas 4.6 RVR 95), una generación que este preparada para responder: ESCRITO ESTA…
      </p>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>PROPÓSITOS DE LAS OLIMPÍADAS BÍBLICAS:</h3>
      <h4>Porqué lo hacemos:</h4>
      <ul>
        <li>Por la falta  de conocimiento de la palabra. No hay  hábitos de lectura. Argentina es uno de los países en que la gente “menos lee”.</li>
        <li>Porque creemos que la Palabra de Dios es fundamental para el desarrollo, la formación integral del niño.</li>
        <li>Porque somos responsables en cumplir lo que el Señor nos manda: Deuteronomio  6.5-9.</li>
        <li>Porque sabemos que el preadolescente está viviendo la edad de oro de la memoria.</li>
        <li>Porque se perdió el trabajo en equipo.  En la actualidad todo está diseñado para el aislamiento del niño: Internet, juegos, tecnología, etc.</li>
        <li>Por la violencia que surge por la alteración que los niños viven en una sociedad del TODO YA,  sin tolerancia.</li>
        <li>Por la unidad entre las iglesias en cuanto a la visión de desarrollo del niño dentro del cuerpo de Cristo.  Que los niños  puedan vivir en hechos la oportunidad de participar, sin importar ni la clase social ni la  denominación.</li>
      </ul>

    </div>

  </div>
</div>
