<div class="well">
  <p>CREAR PARA ALCANZAR es una organización no gubernamental ( ONG ) que lleva adelante distintos proyectos con el fin de enseñar y expandir principios y valores a  fin de “alcanzar” a nuestra sociedad con un mensaje de vida y verdad.</p>
  <p>Estos proyectos proponen en forma creativa e innovadora, nuevas alternativas que despiertan el interés y motivan en forma innovadora el desafío de conocer, aprender, y establecer estos principios y valores.</p>
  <p>Para alcanzar los distintos proyectos, trabajamos en forma conjunta con ministerios que se asocian en forma cooperativa y ordenada, y que asumen el compromiso según el proyecto al cual se adhieren, de alcanzar el propósito del mismo según la metodología y requisitos de cada proyecto.</p>
</div>


<div class="row">
  <div class="col-md-5 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">VISION:</h3>
    </div>
    <div class="panel-body">
      Fomentar, enseñar  y despertar a las generaciones venideras en el aprendizaje, entendimiento y conocimiento de principios basados el bien y la verdad.
    </div>
  </div>
  <div class="col-md-5 col-md-offset-2 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">MISION:</h3>
    </div>
    <div class="panel-body">
      Nuestro compromiso  traer luz y claridad a las mentes y a los corazones que son bombardeados por mensajes distorsionados y  confusos, sabiendo que así  despertaran al propósito en sus vidas y al sentido de vivir.
    </div>
  </div>
</div>

<div class="well">
  <h3>NUESTRA HISTORIA</h3>
  <p>Hace poco más de 7 años Sandra Lanza  y Carolina Biancardi comenzaron a soñar en despertar una generación diferente y desafiados a ser luz en medio de tanta oscuridad. Así nace Olimpiadas Bíblicas como proyecto de incentivación y motivación a traves del juego, y  que de la mano con Editorial Berdor, ambos se fusionaron para dar una nueva herramienta a maestros, padres, niños y jóvenes.</p>
  <p>Poco a poco se fueron sumando jóvenes voluntarios, que con un corazón de servicio y pasión comenzaron a sumarse en esfuerzo, tiempo, recursos y pasión.</p>
  <p>Hoy, contamos personas de todo el país y fuera del país que se suman a la visión de CPA.</p>
  <p>Contamos con una <strong>comisión nacional</strong> que analiza, direcciona y organiza cada propuesta y área de la ong, un <strong>cuerpo creativo</strong> compuesto por jóvenes emprendedores y profesionales que trabajan  arduamente para pensar, desarrollar y gestionar cada proyecto y propuesta que se aprueba, Encargados de zonas: que son los encargados de llevar adelante los proyectos en sus zonas y difundir la labor. <strong>Voluntarios a nivel nacional e internacional</strong>, que se suman a la visión poniendo manos a la obra , <strong>Ministerios asociados</strong> que se suman y comprometen aunando  fuerzas para alcanzar los proyectos al cual se adhieren , <strong>Ofrendantes y donantes</strong> que suman recursos para hacer posible alcanzar cada meta propuesta.</p>
</div>
