<div class="well">
  <p>CREAR PARA ALCANZAR es una organización no gubernamental ( ONG ) que lleva adelante distintos proyectos con el fin de enseñar y expandir principios y valores a  fin de “alcanzar” a nuestra sociedad con un mensaje de vida y verdad.</p>
  <p>Estos proyectos proponen en forma creativa e innovadora, nuevas alternativas que despiertan el interés y motivan en forma innovadora el desafío de conocer, aprender, y establecer estos principios y valores.</p>
  <p>Para alcanzar los distintos proyectos, trabajamos en forma conjunta con ministerios que se asocian en forma cooperativa y ordenada, y que asumen el compromiso según el proyecto al cual se adhieren, de alcanzar el propósito del mismo según la metodología y requisitos de cada proyecto.</p>
</div>


<div class="row">
  <div class="col-md-5 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">VISION:</h3>
    </div>
    <div class="panel-body">
      Fomentar, enseñar  y despertar a las generaciones venideras en el aprendizaje, entendimiento y conocimiento de principios basados el bien y la verdad.
    </div>
  </div>
  <div class="col-md-5 col-md-offset-2 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">MISION:</h3>
    </div>
    <div class="panel-body">
      Nuestro compromiso  traer luz y claridad a las mentes y a los corazones que son bombardeados por mensajes distorsionados y  confusos, sabiendo que así  despertaran al propósito en sus vidas y al sentido de vivir.
    </div>
  </div>
</div>

<div class="well">
  <h3>NUESTRA HISTORIA</h3>
  <p>En el año 2007 comenzamos a trabajar arduamente, para traer un despertar de una generación diferente y desafiada a ser luz en medio de tanta oscuridad. Así nace Olimpiadas Bíblicas como primer proyecto de incentivación y motivación atraves del juego, y  que de la mano con Editorial Berdor, ambos se fusionaron para dar una nueva herramienta a maestros, padres, niños y jóvenes.</p>
  <p>Poco a poco se fueron sumando jóvenes voluntarios, que con un corazón de servicio y pasión comenzaron a sumarse en esfuerzo, tiempo, recursos y pasión.</p>
  <p>Hoy, contamos personas de todo el país y fuera del país que se suman a la visión de CPA ong, dio forma, orden y gran empuje a todos los proyectos que nacieron de esta pasión: OLIMPIADAS BIBLICAS, OLIMPIADAS BIBLICAS EXTREMAS, LA GRAN FINAL, LA BANDA, EDITORIAL , JUEGOS CRISTIANOS BERDOR, entre otros en desarrollo.</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-if="vm.organization" ng-repeat="org in vm.organization">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{org.title}}</h3>
        <p>{{org.desc}}</p>
      </div>
    </div>
  </div>
</div>
