<div class="row">
  <div class="col-md-5 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">VISION</h3>
    </div>
    <div class="panel-body">
      <p>
        OLIMPÍADAS BÍBLICAS nacieron hace seis años en Argentina tras descubrir la necesidad de memorizar y aprender la Palabra de Dios en nuestros pre adolescentes.
        Ha comenzado un trabajo específico en la realización de eventos anuales que reúnen niños y preadolescentes de todo país. Este entrenamiento interdenominacional fomenta el aprendizaje y la memorización de la Palabra de Dios atreves del juego.
      </p>
      <p>
        Los resultados obtenidos todos cada año nos demuestran que las Olimpíadas Bíblicas constituyen  una herramienta inteligente y creativa para que maestros, líderes y padres trabajen de una manera creativa  en la enseñanza de la Biblia.
      </p>
      <p>
        Nuestra meta  es seguir expandiéndonos y levantar una generación que ame y atesore la Palabra de Dios (Oseas 4.6 RVR 95), una generación que este preparada para responder: ESCRITO ESTA…
      </p>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">PROPÓSITOS DE LAS OLIMPÍADAS BÍBLICAS:</h3>
    </div>
    <div class="panel-body">
      <h4>Porqué lo hacemos:</h4>

      <ul class="list-group">
        <li class="list-group-item">Por la falta  de conocimiento de la palabra. No hay  hábitos de lectura. Argentina es uno de los países en que la gente “menos lee”.</li>
        <li class="list-group-item">Porque creemos que la Palabra de Dios es fundamental para el desarrollo, la formación integral del niño.</li>
        <li class="list-group-item">Porque somos responsables en cumplir lo que el Señor nos manda: Deuteronomio  6.5-9.</li>
        <li class="list-group-item">Porque sabemos que el preadolescente está viviendo la edad de oro de la memoria.</li>
        <li class="list-group-item">Porque se perdió el trabajo en equipo.  En la actualidad todo está diseñado para el aislamiento del niño: Internet, juegos, tecnología, etc.</li>
        <li class="list-group-item">Por la violencia que surge por la alteración que los niños viven en una sociedad del TODO YA,  sin tolerancia.</li>
        <li class="list-group-item">Por la unidad entre las iglesias en cuanto a la visión de desarrollo del niño dentro del cuerpo de Cristo.  Que los niños  puedan vivir en hechos la oportunidad de participar, sin importar ni la clase social ni la  denominación.</li>
      </ul>

    </div>

  </div>

</div>
